.add-button {
  font-size: 20px !important;
  margin: 0 10px;
}

.update-button {
  margin-right: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}

.update-button:hover {
  background: pink;
}

.form-button {
  margin-right: 10px;
}
